<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>ConnServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.ConnServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.StaffRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.DeleteAccServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountDetailsServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.AccountDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccLogsServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.AccLogsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.LoginServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.LogoutServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AddPaymentInfoServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.AddPaymentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmUserPaymentInfoServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.ConfirmUserPaymentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewPaymentInfoServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.ViewPaymentInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePaymentInfoServlet</servlet-name>
        <servlet-class>iotbay.g15.controller.UpdatePaymentInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegisterServlet</servlet-name>
        <url-pattern>/StaffRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccServlet</servlet-name>
        <url-pattern>/DeleteAccServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountDetailsServlet</servlet-name>
        <url-pattern>/AccountDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccLogsServlet</servlet-name>
        <url-pattern>/AccLogsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConnServlet</servlet-name>
        <url-pattern>/ConnServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPaymentInfoServlet</servlet-name>
        <url-pattern>/AddPaymentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmUserPaymentInfoServlet</servlet-name>
        <url-pattern>/ConfirmUserPaymentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewPaymentInfoServlet</servlet-name>
        <url-pattern>/ViewPaymentInfoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePaymentInfoServlet</servlet-name>
        <url-pattern>/UpdatePaymentInfoServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>

               30

           </session-timeout>
    </session-config>
</web-app>
