body{
	margin: 0px;
	margin-top:-20px;
	font-family: 'Bebas Neue', cursive;
}

.navbar{
	width:100%;
	background-color: #173d7b;
	padding-top:0.5em;
	height:5em;
	box-shadow:0 1px 5px rgb(190 190 190 / 50%);
	position: fixed;
}

.navbar ul{
	padding-top:0.7em;
}

.navbar ul li{
	display:inline;
	padding-left:1em;
	padding-right:1em;
	text-align:center;
	font-size:2em;

}

.logo{
	margin-left:1em;
	margin-right:0.5em;
	float: left;
	padding-top:0.4em;
	width:10em;

}

.login{
	float: right;
}

.logo img{
	margin-top: -65px;
	display:block;
	width: 95%;
	margin-left:auto;
	margin-right:auto;
	padding-top:5em;
}

.navbar a{
	text-decoration:none;
	color: #fff;
}

.navbar a:hover{
	color: #b3e0ff;	
}

.container{
	padding-top:3em;
	margin:auto;
	width:80%;
	z-index:0;
	padding-bottom:3em;
}

.container p{
	font-family: 'Open Sans', sans-serif;
}

.placeholder{
	height: 4em;
}

.mainpicture{
	height: 40em;
	background-image: url('../assets/bkg.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #b3e0ff;
	margin-left:auto;
	margin-right:auto;
	padding-left: 2em;
	overflow: hidden;
}

.mainpicture h1{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-style: italic;
	text-shadow: 2px 2px #173d7b;
}

.mainpicture h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-style: italic;
}

.buttons{
	padding-left: 3em;
	padding-top: 18em;
}

.buttonsSmall{
	padding-left: 3em;
	padding-top: 14em;
}

.smallerPictures h2{
	color: #173d7b;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-style: italic;
	text-shadow: 2px 2px #FFF;
}

.smallerPictures h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	font-style: italic;
}

.shopButton{
	background-color: #173d7b;
	text-align:center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 10em;
	display: table-cell;
	vertical-align: middle;
}

.shopButtonSmall{
	background-color: #173d7b;
	text-align:center;
	padding-left: 0.5em;
	padding-right: 0.5em;
	width: 7em;
	display: table-cell;
	vertical-align: middle;
}

a{
	text-decoration:none;
	color: #fff;
}

a:hover{
	color: #b3e0ff;
}

.smallerPictures{
	padding-top:1.5em;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.pic1{
	background-image: url('../assets/1.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #b3e0ff;
	float:left;
	width: 49%;
	height: 25em;
}

.pic2{
	background-image: url('../assets/2.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #b3e0ff;
	float:right;
	width: 49%;
	height: 25em;
}

.pic3{
	margin-top:1.5em;
	background-image: url('../assets/3.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #b3e0ff;
	float:left;
	width: 49%;
	height: 25em;
}

.pic4{
	margin-top:1.5em;
	background-image: url('../assets/5.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #b3e0ff;
	float:right;
	width: 49%;
	height: 25em;
}

.pic5{
	margin-top:1.5em;
	background-image: url('../assets/4.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #b3e0ff;
	float:right;
	width: 100%;
	height: 25em;
}

footer{
	margin-bottom:0;
	width:100%;
	background-color: #173d7b;
	color:#fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	padding-top:1em;
	height:2.5em;
	position: fixed;
	bottom: 0;
}